<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="home">Meetup Event Planner</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

    <ul class="nav navbar-nav">
      <li class="active"><a data-toggle="tab" ui-sref="home">Events</a></li>
      <li><a data-toggle="tab" ui-sref="createEvent">Create Event</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a data-toggle="tab" ui-sref="signout">Sign Out</a></li>
    </ul>

  </div><!-- /.navbar-collapse -->

</nav>
<div class="container">

  <div class="form-createEvent">

    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:{{100*createEventForm.$$success.required.length/6| number:0}}%">
            <span class="sr-only">{{100*createEventForm.$$success.required.length/6}}% Complete</span>
      </div>
    </div>

    <h3>Please create your event</h3>

    <form name="createEventForm" novalidate ng-submit="vm.createEvent()" autocomplete="on">

      <!-- Page 1 Start -->
      <div class="form-group required"
           ng-class="{ 'has-error': createEventForm.eventName.$touched && createEventForm.eventName.$invalid }">

        <label for="eventName" class="control-label">Event Name:</label>
        <input id="eventName" class="form-control" name="eventName" type="text" ng-model="vm.eventName"
               placeholder="Event Name" required autofocus>

        <span class="help-block" ng-show="createEventForm.eventName.$error.required && createEventForm.eventName.$touched">Event Name is Required.</span>

      </div>

      <div class="form-group required"
           ng-class="{ 'has-error': createEventForm.eventType.$touched && createEventForm.eventType.$invalid }">

        <label for="eventType" class="control-label">Event Type:</label>
        <input id="eventType" class="form-control" name="eventType"  list="eventsTypes" ng-model="vm.eventType"
               placeholder="Event Type" required>
        <datalist id="eventsTypes">
          <option value="Birthday Party">
          <option value="Conference">
          <option value="Nightout">
          <option value="Soccor Match">
          <option value="Dinner">
          <option value="Lunch">
          <option value="Wedding">
        </datalist>

        <span class="help-block" ng-show="createEventForm.eventType.$error.required && createEventForm.eventType.$touched">Event Type is Required.</span>

      </div>

      <div class="form-group required"
           ng-class="{ 'has-error': createEventForm.hostedBy.$touched && createEventForm.hostedBy.$invalid}">

        <label for="hostedBy" class="control-label">Hosted By:</label>
        <input id="hostedBy" class="form-control" name="hostedBy"  type="text" ng-model="vm.hostedBy"
               placeholder="Hosted By" required>

        <span class="help-block" ng-show="createEventForm.hostedBy.$error.required && createEventForm.hostedBy.$touched">Event host is Required.</span>

      </div>


      <div class="form-group required"
           ng-class="{ 'has-error': createEventForm.startDate.$touched && createEventForm.startDate.$invalid && createEventForm.startDate.$error.startBeforeNow}">

        <label for="startDate" class="control-label">Start Date Time:</label>
        <input id="startDate" class="form-control" name="startDate"  type="datetime-local" ng-model="vm.startDate"
               placeholder="Start Date Time" required>

        <span class="help-block" ng-show="createEventForm.startDate.$error.required && createEventForm.startDate.$touched">Start Date is Required.</span>
        <span class="help-block" ng-show="createEventForm.startDate.$error.startBeforeNow">Start Date can not be in the Past.</span>
      </div>

      <div class="form-group required"
           ng-class="{ 'has-error': createEventForm.endDate.$touched && createEventForm.endDate.$invalid && createEventForm.endDate.$error.endBeforeOrOnStart}">

        <label for="endDate" class="control-label">End Date Time:</label>
        <input id="endDate" class="form-control" name="endDate"  type="datetime-local" ng-model="vm.endDate"
               placeholder="End Date Time" required>

        <span class="help-block" ng-show="createEventForm.endDate.$error.required && createEventForm.endDate.$touched">End Date is Required.</span>
        <span class="help-block" ng-show="createEventForm.endDate.$error.endBeforeOrOnStart">End Date must be after start date.</span>

      </div>

      <!-- Page 2 Start -->
      <div class="form-group required"
           ng-class="{ 'has-error': vm.guests.length<1 && createEventForm.guest.$touched}">
        <label for="guest" class="control-label">Add guests</label>
        <ul class="list-group">
          <li ng-repeat="guest in vm.guests" class="list-group-item list-group-item-info">
            <span class="badge" ng-click="vm.removeGuest(guest)" aria-label="Remove guest">-</span>
            {{guest}}
          </li>
        </ul>

        <div class="input-group">
          <input id="guest" class="form-control" name="guest" type="text" ng-model="vm.guest"
                 placeholder="Guest">
          <span ng-click="(vm.guest === undefined || !(vm.guest.length > 0)) ||vm.addGuest()"
                class="input-group-addon" aria-label="Add guest">+</span>
        </div>
        <span class="help-block" ng-show="vm.guests.length<1 && createEventForm.guest.$touched">At least 1 guest Required.</span>

      </div>

      <div class="form-group required"
           ng-class="{ 'has-error': createEventForm.location.$touched && createEventForm.location.$invalid }">

        <label for="location" class="control-label">Venue:</label>
        <input id="location" class="form-control" name="location" list="venuesNames" ng-model="vm.location"
               placeholder="Venue" required>

        <datalist id="venuesNames">
          <option ng-repeat="place in vm.places" value="{{place['name']}}">
        </datalist>

        <span class="help-block" ng-show="createEventForm.location.$error.required && createEventForm.location.$touched">Venue is required.</span>

      </div>

      <h4 >Optional:</h4>

      <div class="form-group" >

        <label for="description" class="control-label">Additional Description:</label>
        <textarea id="description" class="form-control" name="description" ng-model="vm.description"
                  placeholder="Description"></textarea>

      </div>

      <div class="text-center">

        <input type="submit" class="btn btn-primary btn-lg"
               ng-disabled="createEventForm.$invalid || vm.guests.length<1" value="Submit">
      </div>

    </form>

  </div>

</div>
